/* ============================= */
/* BASE GLOBAL NEUTRO            */
/* ============================= */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background: #ffffff;
}

/* textos */
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/* inputs básicos */
input,
textarea,
select {
  font-size: 16px;
  padding: 6px;
  width: 100%;
}

/* utilidades */
.hidden {
  display: none;
}

.obligatorio {
  border: 2px solid #c62828;
}
